blur-i2-bridge/src/backyard/java/blur/i2/ar/test/schema4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.i2group.com/Schemas/2011-03-03/ModelSchema" xmlns:ns1="http://www.i2group.com/Schemas/2013-10-03/ModelData/Provenance">

  <xs:import namespace="http://www.i2group.com/Schemas/2013-10-03/ModelData/Provenance" schemaLocation="schema1.xsd"/>

  <xs:import namespace="http://www.i2group.com/Schemas/2011-03-03/ModelSchema" schemaLocation="schema3.xsd"/>

  <xs:element name="QueryResult" type="QueryResult"/>

  <xs:complexType name="Query">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Query_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Query_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Query_Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Query_Name" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="Query_QueryDefinition_String_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Query_QueryPresentation" type="Query_QueryPresentation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Query_QueryType" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Query_QueryPresentation">
    <xs:sequence>
      <xs:element name="Query_Format" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="Query_StringData" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PropertyBag" final="extension restriction">
    <xs:sequence>
      <xs:element name="Booleans" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Boolean" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DateTimeWithTimeZones" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DateTimeWithTimeZone" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DateTimes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DateTime" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Decimals" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Decimal" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Doubles" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Double" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GeospatialPropertyValues" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ns2:GeospatialPropertyValue" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Id" type="xs:string" minOccurs="0"/>
      <xs:element name="Integers" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Integer" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Strings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="String" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DateTimeWithTimeZone" final="extension restriction">
    <xs:sequence>
      <xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="TimeZoneId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Property_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Property_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Property_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_AnimalDetails" type="Property_AnimalDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Code" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Color" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_CountryorRegionofOrigin" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_DimensionDetails" type="Property_DimensionDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_DocumentDetails" type="Property_DocumentDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_DrugDetails" type="Property_DrugDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_ExhibitDetails" type="Property_ExhibitDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_FinancialDetails" type="Property_FinancialDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Imagery" type="Property_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Make" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Model" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_PropertyType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Specification" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Status" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Usage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_WeaponDetails" type="Property_WeaponDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_AnimalDetails">
    <xs:sequence>
      <xs:element name="Property_AnimalType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_DimensionDetails">
    <xs:sequence>
      <xs:element name="Property_Height" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Height_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Length" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Length_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Weight" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Weight_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Width" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Width_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_DocumentDetails">
    <xs:sequence>
      <xs:element name="Property_DocumentNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_DocumentType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_IssuedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_IssuedDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_DrugDetails">
    <xs:sequence>
      <xs:element name="Property_DrugName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_DrugType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Weight2" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Weight_Units_2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_ExhibitDetails">
    <xs:sequence>
      <xs:element name="Property_DateandTimeSeized" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_ExhibitLocation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_ExhibitNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_ExhibitType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_SeizedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_SeizedFrom" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_FinancialDetails">
    <xs:sequence>
      <xs:element name="Property_Currency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Value" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_Imagery">
    <xs:sequence>
      <xs:element name="Property_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DocumentIdWithName" final="extension restriction">
    <xs:sequence>
      <xs:element name="DocumentId" type="xs:string"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property_WeaponDetails">
    <xs:sequence>
      <xs:element name="Property_Caliber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_Mechanism" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_SerialNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_WeaponStatus" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Property_WeaponType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Account">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Account_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Account_CardContent">
    <xs:sequence>
      <xs:element name="Account_AccountBalance" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_AccountLimit" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_AccountName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_AccountNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_AccountType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_CountryorRegionRegistered" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_DateClosed" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_DateOpened" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_RoutingNumber_SortCode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Account_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Address">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Address_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Address_CardContent">
    <xs:sequence>
      <xs:element name="Address_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_ApartmentNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Beat_District" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_BuildingName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_BuildingNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_CombinedCoordinates" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_CountryorRegion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_County" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Datum" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Easting" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:Address_GeographicLocation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Imagery" type="Address_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Latitude" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_LocationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Longitude" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Mailbox" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Northing" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Parish" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_PostcodeAddressFileReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_State" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_StreetName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_Town_City" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_ZIP_PostCode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Address_Imagery">
    <xs:sequence>
      <xs:element name="Address_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Event_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Event_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Event_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_CrimeDetails" type="Event_CrimeDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_CustodyDetails" type="Event_CustodyDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_EventDetails" type="Event_EventDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_Imagery" type="Event_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_ModusOperandi" type="Event_ModusOperandi" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_OperationDetails" type="Event_OperationDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_StopandSearchDetails" type="Event_StopandSearchDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_CrimeDetails">
    <xs:sequence>
      <xs:element name="Event_CrimeLocation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_CrimeType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_Motive" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_ReportedDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_CustodyDetails">
    <xs:sequence>
      <xs:element name="Event_ArrestDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_BailConditions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_BailedDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_ChargedDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_CustodyNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_Fingerprints_" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_Interviewed_" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_ReasonforArrest" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_EventDetails">
    <xs:sequence>
      <xs:element name="Event_DescriptionofEndDateandTime" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_DescriptionofStartDateandTime" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_EventDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_EventEndDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_EventStartDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_EventType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_FirearmUsed_" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_Imagery">
    <xs:sequence>
      <xs:element name="Event_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_ModusOperandi">
    <xs:sequence>
      <xs:element name="Event_Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_Type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_OperationDetails">
    <xs:sequence>
      <xs:element name="Event_OperationDetails2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_OperationName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event_StopandSearchDetails">
    <xs:sequence>
      <xs:element name="Event_StopLocation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_StopNature" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_StopReason" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_StopResult" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event_StoppingOfficerID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vehicle">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Vehicle_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Vehicle_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Vehicle_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_EngineSize" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_EngineSize_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_FuelType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_Identification" type="Vehicle_Identification" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_Imagery" type="Vehicle_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_LicensePlateNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_NumberofDoors" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_NumberofSeats" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_Purpose" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_RegisteredCountryorRegion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_RegisteredState" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_VehicleColor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_VehicleMake" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_VehicleModel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_VehicleTrim" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_VehicleType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_YearofManufacture" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vehicle_Identification">
    <xs:sequence>
      <xs:element name="Vehicle_ChassisNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_EngineNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_VehicleIdentificationNumber_VIN_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vehicle_Imagery">
    <xs:sequence>
      <xs:element name="Vehicle_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Vehicle_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Organization">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Organization_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Organization_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Organization_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_Company_RegistrationNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_DateEstablished" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_DateofClosure" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_Imagery" type="Organization_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_OrganizationName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_OrganizationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_RegisteredTrademark" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_WebAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Organization_Imagery">
    <xs:sequence>
      <xs:element name="Organization_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Organization_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Person_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Person_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Person_Accent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Age" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Build" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Citizenship" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_DateandTimeofDeath" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_DateofBirth" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Deceased" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_DistinguishingMarks" type="Person_DistinguishingMarks" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Ethnicity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Eye" type="Person_Eye" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_EyeWear" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_FacialHair" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_FullName" type="Person_FullName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Gender" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Habits" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_HairColor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_HairType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Handedness" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Height" type="Person_Height" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Identification" type="Person_Identification" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Ideology" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Imagery" type="Person_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_MaritalStatus" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_ModusOperandi" type="Person_ModusOperandi" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Nationality" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Occupation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_PlaceofBirth" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Religion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_ShoeSize" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_ShoeSize_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_SpokenLanguage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_DistinguishingMarks">
    <xs:sequence>
      <xs:element name="Person_BodyPart" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_BodyPosition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_DescriptionofMark" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_ImageofMark" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_MarkType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_Eye">
    <xs:sequence>
      <xs:element name="Person_EyeColor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_EyePosition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_FullName">
    <xs:sequence>
      <xs:element name="Person_AKA" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_FamilyName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_First_Given_Name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_MaidenName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_MiddleName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Suffix" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Title" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_Height">
    <xs:sequence>
      <xs:element name="Person_HeightFrom" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_HeightTo" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Height_Units_" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_Identification">
    <xs:sequence>
      <xs:element name="Person_IdentificationNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_IdentificationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_IssuedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_IssuedDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_Imagery">
    <xs:sequence>
      <xs:element name="Person_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person_ModusOperandi">
    <xs:sequence>
      <xs:element name="Person_Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Person_Type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Document">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Document_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Document_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Document_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentDetails" type="Document_DocumentDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Document_DocumentDetails">
    <xs:sequence>
      <xs:element name="Document_District" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_Division" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_Document" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentExtension" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentSource" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_DocumentURL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_EffectiveFromDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_EffectiveToDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_EnteredDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_ReportedDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Document_ReviewStatus" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SurveillanceCamera">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="SurveillanceCamera_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SurveillanceCamera_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="SurveillanceCamera_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_CameraDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_CameraLocation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_CameraType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_Easting" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:SurveillanceCamera_GeographicLocation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_Imagery" type="SurveillanceCamera_Imagery" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_Latitude" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_Longitude" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_Northing" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SurveillanceCamera_Imagery">
    <xs:sequence>
      <xs:element name="SurveillanceCamera_Image" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SurveillanceCamera_ImageDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CommunicationsDevice">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="CommunicationsDevice_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CommunicationsDevice_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="CommunicationsDevice_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_CityRegistered" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_CountryorRegionRegistered" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_DeviceMake" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_DeviceModel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_DeviceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_EmailAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_IMEINumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_IMSINumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_IPAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_ServiceProvider" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_TelephoneNumber" type="CommunicationsDevice_TelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_WebAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CommunicationsDevice_TelephoneNumber">
    <xs:sequence>
      <xs:element name="CommunicationsDevice_AreaCode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_ExtensionNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_InternationalCode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CommunicationsDevice_MainNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AlertFeedSubscription">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="AlertFeedSubscription_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AlertFeedSubscription_CardContent">
    <xs:sequence>
      <xs:element name="AlertFeedSubscription_Alertdeliverymethods" type="AlertFeedSubscription_Alertdeliverymethods" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AlertFeedSubscription_Alertdeliverymethods">
    <xs:sequence>
      <xs:element name="AlertFeedSubscription_Byalertretrieval" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MemberOf">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="MemberOf_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="MemberOf_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="MemberOf_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MemberOf_MembershipDetails" type="MemberOf_MembershipDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MemberOf_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MemberOf_MembershipDetails">
    <xs:sequence>
      <xs:element name="MemberOf_MembershipEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MemberOf_MembershipStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MemberOf_MembershipType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MemberOf_Role" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Employment">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Employment_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Employment_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Employment_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Employment_EmploymentDetails" type="Employment_EmploymentDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Employment_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Employment_EmploymentDetails">
    <xs:sequence>
      <xs:element name="Employment_EmploymentEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Employment_EmploymentStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Employment_EmploymentType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Employment_Role" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubsequentAction">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="SubsequentAction_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SubsequentAction_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="SubsequentAction_ActionType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SubsequentAction_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SubsequentAction_DateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SubsequentAction_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DuplicateOf">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="DuplicateOf_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="DuplicateOf_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="DuplicateOf_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="DuplicateOf_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvolvedIn">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="InvolvedIn_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InvolvedIn_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="InvolvedIn_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InvolvedIn_InvolvementEndDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InvolvedIn_InvolvementStartDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InvolvedIn_InvolvementType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InvolvedIn_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubjectOf">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="SubjectOf_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SubjectOf_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="SubjectOf_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SubjectOf_DateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SubjectOf_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Observed">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Observed_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Observed_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Observed_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Observed_DateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Observed_ObservationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Observed_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Communication">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Communication_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Communication_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Communication_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationContent" type="DocumentIdWithName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationDuration" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationEndDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationExtractedTextContent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationStartDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationSubject" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_CommunicationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Communication_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Associate">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Associate_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Associate_CardContent">
    <xs:sequence>
      <xs:element name="Associate_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Associate_AssociationDetails" type="Associate_AssociationDetails" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Associate_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Associate_AssociationDetails">
    <xs:sequence>
      <xs:element name="Associate_AssociationEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Associate_AssociationStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Associate_AssociationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Transaction">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Transaction_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Transaction_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Transaction_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Transaction_DateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Transaction_TransactionCurrency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Transaction_TransactionMethod" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Transaction_TransactionType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Transaction_TransactionValue" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Transaction_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Stolen_Recovered">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="Stolen_Recovered_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Stolen_Recovered_CardContent">
    <xs:sequence>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
      <xs:element name="Stolen_Recovered_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Stolen_Recovered_Condition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Stolen_Recovered_DateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Stolen_Recovered_Type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Stolen_Recovered_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccessTo">
    <xs:all>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Card" type="AccessTo_CardContent" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemId" type="xs:string"/>
      <xs:element name="ItemVersion" type="xs:long"/>
      <xs:element name="LinkDirection" type="xs:string"/>
      <xs:element name="LinkFromEndId" type="xs:string"/>
      <xs:element name="LinkStrength" type="xs:string"/>
      <xs:element name="LinkToEndId" type="xs:string"/>
      <xs:element name="PropertyBags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBag" type="PropertyBag" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SecurityTagIds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityTagId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AccessTo_CardContent">
    <xs:sequence>
      <xs:element name="AccessTo_AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccessTo_EndDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccessTo_StartDateandTime" type="DateTimeWithTimeZone" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccessTo_TypeofUse" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccessTo_UniqueReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardId" type="xs:string" minOccurs="0"/>
      <xs:element ref="ns1:CardProvenance" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="linkStrengthHelper">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="QueryResult">
    <xs:all>
      <xs:element name="Querys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Query" type="Query" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Addresss" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Address" type="Address" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Events" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Vehicles" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Vehicle" type="Vehicle" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Organizations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Organization" type="Organization" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Persons" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Person" type="Person" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Documents" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Document" type="Document" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SurveillanceCameras" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SurveillanceCamera" type="SurveillanceCamera" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CommunicationsDevices" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CommunicationsDevice" type="CommunicationsDevice" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Propertys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Accounts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Account" type="Account" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AlertFeedSubscriptions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AlertFeedSubscription" type="AlertFeedSubscription" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvolvedIns" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InvolvedIn" type="InvolvedIn" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubjectOfs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubjectOf" type="SubjectOf" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Observeds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Observed" type="Observed" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Communications" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Communication" type="Communication" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Associates" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Associate" type="Associate" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Transactions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Transaction" type="Transaction" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Stolen_Recovereds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Stolen_Recovered" type="Stolen_Recovered" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AccessTos" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccessTo" type="AccessTo" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MemberOfs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MemberOf" type="MemberOf" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Employments" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Employment" type="Employment" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubsequentActions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubsequentAction" type="SubsequentAction" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DuplicateOfs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DuplicateOf" type="DuplicateOf" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>

